<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styleDesignSystem.css">
</head>

<body>
    <header>
        <h1>AdventureXP</h1>
    
    </header>

    <div class="activities">
        <div class="activity">
            <h2>Gocart</h2></div>
        <div class="activity">
            <h2>Minigolf</h2></div>
        <div class="activity">
            <h2>Paintball</h2></div>
        <div class="activity">
            <h2>Sumo Wrestling</h2></div>


    </div>

</body>
</html>
